body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;
    display: block;
    position: relative;
}

.title {
    font-size: 36px;
    margin-top: 20px;
    width: 90%;
}

.author {
    width: 95%;
    max-width: 250px;
    font-size: 24px;
}

.affiliation {
    font-size: 24px;
    width: 95%;
    max-width: 450px;
}

.links {
    font-size: 24px;
    width: 95%;
    max-width: 150px;
}

.teaser {
    width: 80%;
    max-width: 800px;
}

.teaser img {
    width: 100%;
}

.preview a {
    cursor: zoom-in;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%; /* Formula for 16:9 Aspect Ratio: width * 9 / 16 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.paper-thumbnail {
    margin: 0 auto;
    width: 40%;
    max-width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 2% 10% 4% 0;
}

.paper-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 999px) {
    .paper-thumbnail {
        width: 60%;
    }

    .paper-info {
        width: 80%;
    }
}

.mesh-container {
    width: 100%;
    max-width: 500px;
}

.flex {
    flex-grow: 1;
}

.mesh {
    max-height: 200px; 
    border-width: 1px;
    border-style: solid;
}

p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-weight: 300;
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: left;
}

h5 {
    text-align: left;
}

div {
    display: inline-block;
}

hr {
    border-top: 2px solid #4D4D4D;
    width: 90%;
}

pre {
    overflow-x: auto;
    text-align: left;
    border: 1px solid grey;
    border-radius: 3px;
    background: #eeeeee;
    padding: 5px 5px 5px 10px;
    line-height: 1.2;
    white-space: pre-wrap;
}

pre code {
    text-align: left;
    word-wrap: normal;
    white-space: pre-wrap;
    font-size: 16px;
}

a:link, a:visited {
    color: #8D0016;
    text-decoration: none;
}

a:hover {
    color: #FF1447;
}

.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
            15px 15px 0 0px #fff, /* The fourth layer */
            15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
            20px 20px 0 0px #fff, /* The fifth layer */
            20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
            25px 25px 0 0px #fff, /* The fifth layer */
            25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}

video {
    display: block;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    display: block;
    margin: 0 auto;
    table-layout: fixed;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

td {
    text-align: center;
}

.vert-black {
    /* border-right: 1px solid rgb(34, 33, 33);*/
}

.vert-gray {
    /* border-right: 1px solid rgb(177, 177, 177);*/
}

model-viewer {
    display: block;
    height: 200px;
    width: 200px;
    max-width: 600px;
    max-height: 600px;
    background-color: #eee;
    --poster-color: #eee;
    border-color: black;
    border-width: 1px;
}

#rot
{
   -webkit-transform: rotate(-90deg); 
   -moz-transform: rotate(-90deg);    
    width:100px;
}